body {
    background-color: black; /* Fondo negro */
    color: white; /* Texto blanco */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.center-content {
    display: inline-block;
}

.center-content img {
    width: 200px; /* Fija la anchura de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    cursor: pointer; /* Muestra el cursor como puntero */
    display: block; /* Asegura que la imagen sea tratada como un bloque */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}
